
.floating-button {
    z-index: 4;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-weight: 500;
    padding: 10px;
    /*margin-left: 42.69vw;*/
    width: 12.3vw;
    border-radius: 2.463vw;
    font-family: 'Fira Code', cursive;
    font-style: normal;
    line-height: 10vh;

    text-align: center;
    align-items: center;
    justify-content: center;

    color: black;
    background: #bec9ca;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #93A7A6;
    box-shadow: 0 15px 20px rgba(147, 167, 166, 0.4);
    color: white;
    transform: translateY(-5px);
}
