*{
  padding:0;
  margin:0;
}

body {
  font-family: 'Fira Code', monospace;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  min-width: 800px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #DEEFED;
}

#top {
  height: 10vh;
  min-height: 60px;
}

#logo {
  font-family: 'Unica One', cursive;
  font-size: 30px;
  float: left;
  margin: 2.9vh 0 0 1.478vw;
  color: #000000B2;
}

#button {
  height: 6.483vh;
  width: 3.284vw;
  min-height: 40px;
  min-width: 40px;
  float: right;
  margin: 2.9vh 2vw 0 0;
  background-color: #93A7A6;
  color: black;
  border-radius: 1.23vw;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

#button:hover {
  background: #fbfcfd;
  box-shadow: 0 15px 20px rgba(147, 167, 166, 0.4);
  color: black;
  transform: translateY(-5px);
}

#middle1, #middle2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#level {
  font-size: 25px;
  margin-bottom: 8.1vh;
  height: 11.3452vh;
  width: 5.747vw;
  min-height: 70px;
  min-width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BEC9CA;
  border-radius: 3.284vw;
  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);
}

#cardsRow1, #cardsRow2 {
  height: 27.5527vh;
  width: 100%;
  min-height: 7.5527vh;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button {
  font-family: 'Fira Code', monospace;
  font-size: 30px;
  font-weight: 500;
  height: 24.31vh;
  width: 24.63vw;
  min-height: 150px;
  min-width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1.23vw;

  color: black;
  background: #93A7A6;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

/*#game1, #game2, #game3, #game4 {*/
/*  font-family: 'Fira Code', monospace;*/
/*  font-size: 30px;*/
/*  font-weight: 500;*/
/*  height: 24.31vh;*/
/*  width: 24.63vw;*/
/*  min-height: 150px;*/
/*  min-width: 300px;*/
/*  text-align: center;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background-color: #93A7A6;*/
/*  border: none;*/
/*  border-radius: 1.23vw;*/
/*  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);*/
/*}*/

#game1, #game3 {
  float: left;
  margin-left: 50% - 24.63vw;
  margin-right: 1.642vw;
}

#game2, #game4 {
  float: right;
}

/*#game1:hover, #game2:hover, #game3:hover, #game4:hover {*/
/*  background-color: #93A7A6;*/
/*  transform: scale(0.9);*/
/*  transition: 1s;*/
/*}*/

.floating-button:hover {
  background: #fbfcfd;
  box-shadow: 0 15px 20px rgba(147, 167, 166, 0.4);
  color: black;
  transform: translateY(-5px);
}