body {
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

#top {
  height: 11.3452vh;
  width: 98.522vw;
  min-height: 70px;
  min-width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#logo {
  float: left;
  margin: max(0.821vw, 0.821vw);
  color: #000000B2;
}

#page {
  float: right;
  margin-top: max(1.62vh, 1.62vh);
  margin-right: max(0.821vw, 0.821vw);
  margin-bottom: max(1.62vh, 1.62vh);
  margin-left: max(77.9967vw, 77.9967vw);
}

#middle {
  height: 72.93vh;
  width: 98.522vw;
  min-height: 450px;
  min-width: 1200px;
}

#greenRectangle {
  margin: 0 auto;
  height: 71.3vh;
  width: 65.681vw;
  min-height: 440px;
  min-width: 800px;
  background-color: #DEEFED;
  border-radius: 4.1vw;
  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);
  text-align: center;
}

#appleImage {
  display: block; 
  margin: 0 auto;
  position: relative;
  top: 11.3452vh;
  height: 40.5vh;
  width: 20.52545vw;
  min-height: 250px;
  min-width: 250px;
}

#group { 
  position: relative;
  top: 16.2vh;
  margin-bottom: 7.293vh;
}

input {
  position: relative;
  left: 18.8834vw;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  padding: 1.62vh 0.821vw 1.62vh 1.642vw;
  display: block;
  width: 25.45vw;
  min-width: 310px;
  border: none;
  border-radius: 4.1vw;
  box-shadow: 0.1642vw 0.1642vw 0.1642vw rgba(0, 0, 0, 0.25);
}

input:focus { 
  outline: none; 
}

label {
  color: #999; 
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 20.52545vw;
  top: 0.81vh;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -3.24vh;
  font-size: 1vw;
  color: #93A7A6;
}

#bar { 
  position: relative;
  left: 20.52545vw;
  display: block; 
  width: 24.63vw; 
  min-width: 300px;
}

#bar:before, #bar:after {
  content: '';
  height: 0.324vh; 
  width: 0;
  bottom: 0.162vh; 
  position: absolute;
  background: #93A7A6; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

#bar:before {
  left: 50%;
}

#bar:after {
  right: 50%; 
}

input:focus ~ #bar:before, input:focus ~ #bar:after {
  width: 50%;
}

#highlight {
  position: absolute;
  height: 6.482982vh; 
  width: 28.735632vw;
  top: 25%; 
  left: 20.52545vw;
  margin: -1.62vh -0.821vw -1.62vh -1.642vw;
  border: none;
  border-radius: 4.1vw;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ #highlight {
  -webkit-animation: inputHighlighter 1s ease;
  -moz-animation: inputHighlighter 1s ease;
  animation: inputHighlighter 1s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@-moz-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

#bottom {
  height: 11.3452vh;
  width: 98.522vw;
  min-height: 70px;
  min-width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#backImage {
  float: left;
  margin: 1.2vh 0.821vw 1.2vh 1.642vw;
  height: 8.9vh;
  width: 4.5vw;
  min-height: 55px;
  min-width: 55px;
}

#backImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 8.21vw;
  transition: 1s;
}

#nextImage {
  float: right;
  margin: 1.2vh 1.642vw 1.2vh 77.9967vw;
  height: 8.9vh;
  width: 4.5vw;
  min-height: 55px;
  min-width: 55px;
}

#nextImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 8.21vw;
  transition: 1s;
}

#newBox {
  margin: 0 auto;
  height: 48.62vh;
  width: 49.261vw;
  min-height: 300px;
  min-width: 600px;
  background-color: #DEEFED;
  border-radius: 4.1vw;
  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}