body {
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

#top {
  height: 70px;
  width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#logo {
  float: left;
  margin: 10px;
}

#page {
  float: right;
  margin: 10px 10px 10px 950px;
}

#middle1 {
  height: 225px;
  width: 1200px;
}

#greenCircle {
  margin: 50px 0px 0px 500px;
  height: 200px;
  width: 200px;
  background-color: #DEEFED;
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

#greenCircle:hover {
  -moz-transform: scale(0.8); /* Для Firefox */
  -ms-transform: scale(0.8); /* Для IE */
  -webkit-transform: scale(0.8); /* Для Safari, Chrome, iOS */
  -o-transform: scale(0.8); /* Для Opera */
  transform: scale(0.8);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #f2a579);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#audioImage {
  margin: 50px 0px 0px 50px;
  height: 100px;
  width: 100px;
}

#middle1 {
  height: 225px;
  width: 1200px;
}

#greenRectangle {
  margin: 70px 0px 45px 200px;
  padding: 10px 10px 10px 20px;
  max-height: 40px;
  max-width: 800px;
  min-height: 40px;
  min-width: 800px;
  background-color: #DEEFED;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#sentence {
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  font-weight: 300;position: relative; 
  top: 5px;
}

#group { 
  position: relative; 
  bottom: 32.5px;
}

input {
  position: relative;
  left: 500px;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
  display: block;
  height: 20px;
  width: 100px;
  border: none;
  border-radius: 50px;
}

input:focus { 
  outline: none; 
}

label {
  color:#999; 
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 520px;
  top: 5px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  opacity: 0;
}

#bar { 
  position: relative;
  left: 520px;
  display: block; 
  width: 90px; 
}

#bar:before, #bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #93A7A6; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

#bar:before {
  left: 50%;
}

#bar:after {
  right: 50%; 
}

input:focus ~ #bar:before, input:focus ~ #bar:after {
  width: 50%;
}

#highlight {
  position: absolute;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 50px;
  top: 25%; 
  left: 520px;
  margin: -10px -10px -10px -20px;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ #highlight {
  -webkit-animation: inputHighlighter 1s ease;
  -moz-animation: inputHighlighter 1s ease;
  animation: inputHighlighter 1s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@-moz-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

#bottom {
  height: 70px;
  width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#backImage {
  float: left;
  margin: 7.5px 10px 7.5px 20px;
  max-height: 55px;
  max-width: 55px;
  min-height: 55px;
  min-width: 55px;
}

#backImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 100px;
  transition: 1s;
}

#nextImage {
  float: right;
  margin: 7.5px 20px 7.5px 950px;
  max-height: 55px;
  max-width: 55px;
  min-height: 55px;
  min-width: 55px;
}

#nextImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 100px;
  transition: 1s;
}