body {
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

#top {
  height: 70px;
  width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#logo {
  float: left;
  margin: 10px;
}

#page {
  float: right;
  margin: 10px 10px 10px 950px;
}

#middle1 {
  height: 225px;
  width: 1200px;
}

#greenCircle {
  margin: 50px 0px 0px 500px;
  height: 200px;
  width: 200px;
  background-color: #DEEFED;
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#greenCircle:hover {
  -moz-transform: scale(0.8); /* Для Firefox */
  -ms-transform: scale(0.8); /* Для IE */
  -webkit-transform: scale(0.8); /* Для Safari, Chrome, iOS */
  -o-transform: scale(0.8); /* Для Opera */
  transform: scale(0.8);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #f2a579);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  transition: 1s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#audioImage {
  margin: 50px 0px 0px 50px;
  height: 100px;
  width: 100px;
}

#middle1 {
  height: 225px;
  width: 1200px;
}

#middle2 {
  height: 175px;
  width: 1200px;
}

#buttonsRow1, #buttonsRow2 {
  display: block;
  margin: 0 auto;
  width: 650px;
  position: relative; 
  top: 10px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#button1, #button2, #button3, #button4 {
  height: 40px;
  width: 300px;
  text-align: center;
  background-color: #DEEFED;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Fira Code', monospace;
  font-size: 28px;
  font-weight: 400;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
  background-color: #93A7A6;
  transform: scale(0.9);
  transition: 1s;
}

#button1, #button2 {
  float: left;
  margin: 10px;
}

#button3, #button4 {
  float: right;
  margin: 10px 10px 10px 50px;
}

#bottom {
  height: 70px;
  width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#backImage {
  float: left;
  margin: 7.5px 10px 7.5px 20px;
  max-height: 55px;
  max-width: 55px;
  min-height: 55px;
  min-width: 55px;
}

#backImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 100px;
  transition: 1s;
}

#nextImage {
  float: right;
  margin: 7.5px 20px 7.5px 950px;
  max-height: 55px;
  max-width: 55px;
  min-height: 55px;
  min-width: 55px;
}

#nextImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 100px;
  transition: 1s;
}