body {
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

#top {
  height: 11.3452vh;
  width: 98.522vw;
  min-height: 70px;
  min-width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#logo {
  float: left;
  margin: 10px;
  color: #000000B2;
}

#page {
  float: right;
  margin: 1.62vh 0.821vw 1.62vh 77.9967vw;
}

#middle1 {
  height: 36.467vh;
  min-height: 225px;
  width: 98.522vw;
  min-width: 1200px;
}

#greenCircle {
  margin: 8.1vh 0px 0px 41vw;
  height: 32.4vh;
  width: 16.42vw;
  min-height: 200px;
  min-width: 200px;
  background-color: #DEEFED;
  border-radius: 8.21vw;
  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);
}

#greenCircle:hover {
  -moz-transform: scale(0.8); /* Для Firefox */
  -ms-transform: scale(0.8); /* Для IE */
  -webkit-transform: scale(0.8); /* Для Safari, Chrome, iOS */
  -o-transform: scale(0.8); /* Для Opera */
  transform: scale(0.8);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #f2a579);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  transition: 1s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#audioImage {
  margin: 8.1vh 0vw 0vh 4.1vw;
  height: 16.2vh;
  width: 8.21vw;
  min-height: 100px;
  min-width: 100px;
}

#greenRectangle {
  margin: 11.3452vh 0vw 7.293vh 16.42vw;
  padding: 1.62vh 0.821vw 1.62vh 1.642vw;
  height:  6.482982vh;
  width: 65.68vw;
  min-height: 40px;
  min-width: 800px;
  background-color: #DEEFED;
  border-radius: 4.1vw;
  box-shadow: 0.3284vw 0.3284vw 0.3284vw rgba(0, 0, 0, 0.25);
}

#sentence {
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  font-weight: 300;
  position: relative; 
  top: 0.81vh;
}

#group { 
  position: relative; 
  bottom: 5.267423vh;
}

input {
  position: relative;
  left: 41vw;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  padding: 1.62vh 0.821vw 1.62vh 1.642vw;
  display: block;
  height: 3.24vh;
  width: 8.21vw;
  min-height: 20px;
  min-width: 100px;
  border: none;
  border-radius: 4.1vw;
}

input:focus { 
  outline: none; 
}

label {
  color:#999; 
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 42.693vw;
  top: 0.81vh;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  opacity: 0;
}

#bar { 
  position: relative;
  left: 42.693vw;
  display: block; 
  width: 7.389vw; 
  min-width: 90px; 
}

#bar:before, #bar:after {
  content: '';
  height: 0.324vh; 
  width: 0;
  bottom: 0.162vh; 
  position: absolute;
  background: #93A7A6; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

#bar:before {
  left: 50%;
}

#bar:after {
  right: 50%; 
}

input:focus ~ #bar:before, input:focus ~ #bar:after {
  width: 50%;
}

#highlight {
  position: absolute;
  height: 6.483vh;
  width: 11.494vw;
  min-height: 40px;
  min-width: 140px;
  border: none;
  border-radius: 4.1vw;
  top: 25%; 
  left: 42.69vw;
  margin: -1.62vh -0.821vw -1.62vh -1.642vw;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ #highlight {
  -webkit-animation: inputHighlighter 1s ease;
  -moz-animation: inputHighlighter 1s ease;
  animation: inputHighlighter 1s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@-moz-keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

@keyframes inputHighlighter {
  from { background: #DEEFED; }
  to  { width:0; background: transparent; }
}

#bottom {
  height: 11.3452vh;
  width: 98.522vw;
  min-height: 70px;
  min-width: 1200px;
  -moz-column-count: 2; /* Для Firefox */
  -webkit-column-count: 2; /* Для Safari и Chrome */
  column-count: 2;
}

#backImage {
  float: left;
  margin: 1.2vh 0.821vw 1.2vh 1.642vw;
  height: 8.9vh;
  width: 4.5vw;
  min-height: 55px;
  min-width: 55px;
}

#backImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 8.21vw;
  transition: 1s;
}

#nextImage {
  float: right;
  margin: 1.2vh 1.642vw 1.2vh 77.9967vw;
  height: 8.9vh;
  width: 4.5vw;
  min-height: 55px;
  min-width: 55px;
}

#nextImage:hover {
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
  background: #93A7A6;
  border-radius: 8.21vw;
  transition: 1s;
}